.lds-dual-ring {
  display: inline-block;
  height: 80px;
  width: 80px;
}

.lds-dual-ring:after {
  animation: lds-dual-ring 1.2s linear infinite;
  border: 6px solid white;
  border-color: white transparent;
  border-radius: 50%;
  content: ' ';
  display: block;
  height: 30px;
  margin: 8px;
  width: 30px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
